<a href="https://colab.research.google.com/github/sbhardwaj97/major_project/blob/main/MAJOR_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [96]:

import pandas as pd

In [95]:
url="https://raw.githubusercontent.com/sbhardwaj97/major_project/main/TELECOM_CHURN%20-%20Sheet1.csv"

In [97]:
df=pd.read_csv(url)

In [98]:
df.head(5)

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95      1889.50     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [99]:
df.drop('customerID',axis='columns',inplace=True)

In [100]:
df.gender.unique()

array(['Female', 'Male'], dtype=object)

In [101]:
df.Partner.unique()

array(['Yes', 'No'], dtype=object)

In [102]:
df.Contract.unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [103]:
df.InternetService.unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [104]:
df.PhoneService.unique()

array(['No', 'Yes'], dtype=object)

In [105]:
df.Dependents.unique()

array(['No', 'Yes'], dtype=object)

In [106]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

#Ahh... it is string. Lets convert it to numbers

In [107]:
pd.to_numeric(df.TotalCharges,errors='coerce').isnull()

0       False
1       False
2       False
3       False
4       False
        ...
7038    False
7039    False
7040    False
7041    False
7042    False
Name: TotalCharges, Length: 7043, dtype: bool

In [108]:
df[pd.to_numeric(df.TotalCharges,errors='coerce').isnull()]

      gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
488   Female              0     Yes  ...          52.55           NaN    No
753     Male              0      No  ...          20.25           NaN    No
936   Female              0     Yes  ...          80.85           NaN    No
1082    Male              0     Yes  ...          25.75           NaN    No
1340  Female              0     Yes  ...          56.05           NaN    No
3331    Male              0     Yes  ...          19.85           NaN    No
3826    Male              0     Yes  ...          25.35           NaN    No
4380  Female              0     Yes  ...          20.00           NaN    No
5218    Male              0     Yes  ...          19.70           NaN    No
6670  Female              0     Yes  ...          73.35           NaN    No
6754    Male              0      No  ...          61.90           NaN    No

[11 rows x 20 columns]

In [109]:
df.shape

(7043, 20)

In [110]:
df.iloc[488].TotalCharges

nan

In [111]:
df[df.TotalCharges!=' '].shape

(7043, 20)


Remove rows with space in TotalCharges

In [112]:
df1 = df[df.TotalCharges!=' ']
df1.shape

(7043, 20)

In [113]:

df1.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [114]:
df1.TotalCharges = pd.to_numeric(df1.TotalCharges)

In [115]:
df1.TotalCharges.dtypes

dtype('float64')

Some of the columns have no internet service or no phone service, that can be replaced with a simple No

In [116]:
df1.replace('No internet service','No',inplace=True)
df1.replace('No phone service','No',inplace=True)

In [117]:
yes_no_columns = ['Partner','Dependents','PhoneService','MultipleLines','OnlineSecurity','OnlineBackup',
                  'DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling','Churn']
for col in yes_no_columns:
    df1[col].replace({'Yes': 1,'No': 0},inplace=True)

In [118]:
df1['gender'].replace({'Female':1,'Male':0},inplace=True)

In [119]:
df1.gender.unique()

array([1, 0])

In [120]:
df1.dtypes

gender                int64
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
MultipleLines         int64
InternetService      object
OnlineSecurity        int64
OnlineBackup          int64
DeviceProtection      int64
TechSupport           int64
StreamingTV           int64
StreamingMovies       int64
Contract             object
PaperlessBilling      int64
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                 int64
dtype: object

In [121]:
df1.head()

   gender  SeniorCitizen  Partner  ...  MonthlyCharges  TotalCharges  Churn
0       1              0        1  ...           29.85         29.85      0
1       0              0        0  ...           56.95       1889.50      0
2       0              0        0  ...           53.85        108.15      1
3       0              0        0  ...           42.30       1840.75      0
4       1              0        0  ...           70.70        151.65      1

[5 rows x 20 columns]

In [122]:
df1.drop('StreamingMovies',axis='columns',inplace=True)

In [123]:
df1.drop('StreamingTV',axis='columns',inplace=True)

In [124]:
df1.drop('TechSupport',axis='columns',inplace=True)

In [125]:
df1.drop('DeviceProtection',axis='columns',inplace=True)

In [126]:
df1.drop('PhoneService',axis='columns',inplace=True)

In [127]:
df1.drop('MultipleLines',axis='columns',inplace=True)

In [128]:
df1.drop('OnlineSecurity',axis='columns',inplace=True)

In [129]:
df1.drop('PaymentMethod',axis='columns',inplace=True)

In [130]:
df1.head(5)

   gender  SeniorCitizen  Partner  ...  MonthlyCharges  TotalCharges Churn
0       1              0        1  ...           29.85         29.85     0
1       0              0        0  ...           56.95       1889.50     0
2       0              0        0  ...           53.85        108.15     1
3       0              0        0  ...           42.30       1840.75     0
4       1              0        0  ...           70.70        151.65     1

[5 rows x 12 columns]

In [131]:
df1.dtypes

gender                int64
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
InternetService      object
OnlineBackup          int64
Contract             object
PaperlessBilling      int64
MonthlyCharges      float64
TotalCharges        float64
Churn                 int64
dtype: object

In [132]:
df2 = pd.get_dummies(data=df1, columns=['InternetService','Contract'])
df2.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'OnlineBackup', 'PaperlessBilling', 'MonthlyCharges', 'TotalCharges',
       'Churn', 'InternetService_DSL', 'InternetService_Fiber optic',
       'InternetService_No', 'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year'],
      dtype='object')

In [133]:
df2.head(5)

   gender  SeniorCitizen  ...  Contract_One year  Contract_Two year
0       1              0  ...                  0                  0
1       0              0  ...                  1                  0
2       0              0  ...                  0                  0
3       0              0  ...                  1                  0
4       1              0  ...                  0                  0

[5 rows x 16 columns]

In [134]:
df2.dtypes

gender                           int64
SeniorCitizen                    int64
Partner                          int64
Dependents                       int64
tenure                           int64
OnlineBackup                     int64
PaperlessBilling                 int64
MonthlyCharges                 float64
TotalCharges                   float64
Churn                            int64
InternetService_DSL              uint8
InternetService_Fiber optic      uint8
InternetService_No               uint8
Contract_Month-to-month          uint8
Contract_One year                uint8
Contract_Two year                uint8
dtype: object

In [135]:

target_name="Churn"
X = df2.drop('Churn', axis=1)
y=df2[target_name]

In [136]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state = 42)

In [137]:

# Standardizing the Dataset
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [138]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

ValueError: ignored

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score,StratifiedKFold
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.metrics import roc_auc_score

In [ ]:
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
rf.score(X_test,y_test)

In [ ]:
X_test

In [ ]:
y_test

In [ ]:
rf.predict([[0,0,1,1,1,1,1,29,29,1,0,0,1,0,0]])

In [ ]:
rf.predict([[0,1,1,0,61,0,0,25,150,0,0,1,0,0,1]])